.card-outer {
  perspective: 1000px;
}

.card-inner {
  transform-style: preserve-3d;
  transition: transform ease-in-out 1s;
}

.card-outer:click .card-inner {
  animation: flip-card;
}

 @keyframes flip-card {
  0%   {transform: rotateY(0deg);}
  50%   {transform: rotateY(180deg);}
  100%   {transform: rotateY(0deg);}
}
